<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule api/part/(.*)$ part.php [QSA,NC,L]
RewriteRule api/product/(.*)$ product.php [QSA,NC,L]
RewriteRule api/type(/*.*)$ type.php [QSA,NC,L]
RewriteRule api/subtype(/*.*)$ subtype.php [QSA,NC,L]
</IfModule>
