<h1>{{data.currentProduct.name}}</h1>
<table class="bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>Qty</th>
      <th>Inv</th>
      <th>Ord</th>
      <th>PartNo</th>
      <th>Footprint</th>
      <th>Value</th>
      <th>Voltage</th>
      <th>Tolerance</th>
      <th>Type</th>
      <th>Subtype</th>
      <th class="Edit">Edit</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="item in data.currentBom">
      <td>{{item.id}}</td>
      <td>{{item.qty}}</td>
      <td>{{item.part.inventory}}</td>
      <td>{{item.part.ordered}}</td>
      <td>{{item.part.partNo}}</td>
      <td>{{item.part.footprint}}</td>
      <td>{{item.part.value}}</td>
      <td>{{item.part.voltage}}</td>
      <td>{{item.part.tolerance}}</td>
      <td>{{data.getTypeName(item.part.types_id)}}</td>
      <td>{{data.getSubtypeName(item.part.subtypes_id)}}</td>
      <td></td>
    </tr>
	</tbody>
</table>
