
<p>parts.html</p>

<mmrp-table api="api/parts"></mmrp-table>

<!--
<table ng-controller="TableController">
  <thead>
    <th>ID</th>
    <th>Inventory</th>
    <th>Ordered</th>
    <th>Part #</th>
    <th>Value</th>
    <th>Footprint</th>
    <th>Tolerance</th>
    <th>Voltage</th>
    <th>Type</th>
    <th>Subtype</th>
  </thead>
  <tbody>
    <tr ng-repeat="part in parts">
      <td>{{ part.id }}</td>
      <td>{{ part.inventory }}</td>
      <td>{{ part.ordered }}</td>
      <td>{{ part.partNo }}</td>
      <td>{{ part.value }}</td>
      <td>{{ part.footprint }}</td>
      <td>{{ part.tolerance }}</td>
      <td>{{ part.voltage }}</td>
      <td>{{ part.type }}</td>
      <td>{{ part.subtype }}</td>
    </tr>
	</tbody>
</table>
-->
