<div id="twocolumn">

  <div class="column">
    <h1>Products</h1>
    <table class="bordered" id="products">
    <thead>
      <tr>
        <th>ID</th>
        <th>Need</th>
        <th>Inv</th>
        <th>Name</th>
        <th class='edit'>Edit</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="product in data.products">
        <td>{{product.id}}</td>
        <td>
          <span editable-text="product.needed" e-name="needed" e-form="rowform">{{ product.needed || "0" }}</span>
        </td>
        <td>
          <span editable-text="product.inventory" e-name="inventory" e-form="rowform">{{product.inventory || "0" }}</span>
        </td>
        <td>
          <span editable-text="product.name" e-name="name" e-form="rowform">{{ product.name || "name" }}</span>
        </td>
        <td>
          <a ui-sref="products.bom({id: product.id})">
            <button class="btn btn-xs btn-default pull-right" ng-show="!rowform.$visible">
              <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
            </button>
          </a>
          <mmrp-edit></mmrp-edit>
          <form editable-form name="rowform" ng-show="rowform.$visible">
            <mmrp-save></mmrp-save>
            <mmrp-cancel></mmrp-cancel>
            <mmrp-trash></mmrp-trash>
          </form>
        </td>
      </tr>
      </tbody>
      <tfoot>
        <tr>
          <td></td>
          <td>
            <span editable-text="new.needed" e-name="needed" e-form="newform"></span>
          </td>
          <td>
            <span editable-text="new.inventory" e-name="inventory" e-form="newform"></span>
          </td>
          <td>
            <span editable-text="new.name" e-name="name" e-form="newform"></span>
          </td>
          <td>
            <mmrp-add></mmrp-add>
            <form editable-form name="newform" ng-show="newform.$visible" onaftersave="add()">
              <mmrp-save></mmrp-save>
              <mmrp-cancel></mmrp-cancel>
            </form>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>

  <div class="column" ng-hide="selected === null">
    <div ui-view></div>
  </div>
</div>

<!--
    <h1>{{selected.name}}</h1>
    <table class="bordered">
      <thead>
        <th>ID</th>
        <th>Inventory</th>
        <th>Ordered</th>
        <th>PartNo</th>
        <th>Footprint</th>
        <th>Value</th>
        <th>Voltage</th>
        <th>Tolerance</th>
        <th>Type</th>
        <th>Subtype</th>
        <th class='edit'>Edit</th>
      </thead>
      <tbody>
        <tr ng-repeat="part in bom">
          <td>{{part.id}}</td>
          <td>{{part.inventory}}</td>
          <td>{{part.ordered}}</td>
          <td>{{part.partNo}}</td>
          <td>{{part.footprint}}</td>
          <td>{{part.value}}</td>
          <td>{{part.voltage}}</td>
          <td>{{part.tolerance}}</td>
          <td>{{types[part.types_id].name}}</td>
          <td>{{subtypes[part.subtypes_id].name}}</td>
          <td></td>
        </tr>
    	</tbody>
    </table>
-->

<!--
<mmrp-table api="api/products"></mmrp-table>

-->
