<div id="twocolumn">

  <div class="column">
    <h1>Products</h1>
    <table class="bordered">
      <thead>
        <th>ID</th>
        <th>Needed</th>
        <th>Inventory</th>
        <th>Name</th>
      </thead>
      <tbody>
        <tr ng-repeat="product in products" ng-click="select(product.id)">
          <td>{{product.id}}</td>
          <td>
            <span editable-text="product.needed" e-name="needed" e-form="rowform">{{ product.needed || "needed"}}</span>
          </td>
          <td>
            <span editable-text="product.inventory" e-name="inventory" e-form="rowform">{{product.inventory || "inventory"}}</span>
          </td>
          <td>
            <span editable-text="product.name" e-name="name" e-form="rowform">{{product.name || "name"}}</span>
            <button class="btn btn-xs btn-default pull-right" ng-show="!rowform.$visible" ng-click="rowform.$show()">
              <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
            </button>
            <form editable-form name="rowform" ng-show="rowform.$visible">
              <button type="submit" class="btn btn-xs btn-primary" ng-disabled="editableForm.$waiting">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
              </button>
              <button class="btn btn-xs btn-default" ng-click="editableForm.$cancel()">
                <span class="glyphicon glyphicon-remove"></span>
              </button>
              <button class="btn btn-xs btn-danger" ng-click="remove($index)">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
              </button>
            </form>
          </td>
        </tr>
    	</tbody>
    </table>
    <button class="btn btn-default" ng-click="add()">Add row</button>
  </div>

  <div class="column" ng-hide="selected === null">
    <h1>{{selected.name}}</h1>
    <table class="bordered">
      <thead>
        <th>ID</th>
        <th>Inventory</th>
        <th>Ordered</th>
        <th>PartNo</th>
        <th>Footprint</th>
        <th>Value</th>
        <th>Voltage</th>
        <th>Tolerance</th>
        <th>Type</th>
        <th>Subtype</th>
      </thead>
      <tbody>
        <tr ng-repeat="part in bom">
          <td>{{part.id}}</td>
          <td>{{part.inventory}}</td>
          <td>{{part.ordered}}</td>
          <td>{{part.partNo}}</td>
          <td>{{part.footprint}}</td>
          <td>{{part.value}}</td>
          <td>{{part.voltage}}</td>
          <td>{{part.tolerance}}</td>
          <td>{{types[part.types_id].name}}</td>
          <td>{{subtypes[part.subtypes_id].name}}</td>
        </tr>
    	</tbody>
    </table>
  </div>
</div>

<!--
<mmrp-table api="api/products"></mmrp-table>

-->
