
<p>types.html</p>
<mmrp-table api="api/types"></mmrp-table>

<!--

<h1>Types</h1>
<table class='bordered'>
  <thead>
    <th>ID</th>
    <th>Name</th>
  </thead>
  <tbody>
    <tr ng-repeat="type in typeCtrl.types">
      <td>{{ type.id }}</td>
      <td ng-form>
        <div ng-show="typeCtrl.editing === type">
          <input type="text" ng-model="type.name" />
          <input class="save" type="submit" ng-click="typeCtrl.save(type)" />
          <input class="cancel" type="submit" ng-click="typeCtrl.editing = null" />
          <input class="trash" type="submit" ng-click="typeCtrl.delete(type.id)" />
        </div>
        <div ng-hide="typeCtrl.editing === type" ng-click="typeCtrl.editing = type" >
          {{ type.name }}
        </div>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <td></td>
    <td>
      <form name="AddNewForm" ng-submit="typeCtrl.add()">
        <input type="text" ng-model="typeCtrl.new.name" />
        <input class="add" type="submit" />
      </form>
    </td>
	</tfoot>
</table>
<div class="error" ng-if="typeCtrl.errors">Controller Error: {{typeCtrl.errors}}</div>
-->
