<h1>Types</h1>
<table class='bordered'>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Edit</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="type in data.types">
      <td>{{type.id}}</td>
      <td>
        <span editable-text="type.name" e-name="name" e-form="rowform">{{type.name||"name"}}</span>
      </td>
      <td>
        <mmrp-edit form="rowform"></mmrp-edit>
        <form editable-form name="rowform" ng-show="rowform.$visible">
          <mmrp-save form="rowform"></mmrp-save>
          <mmrp-cancel form="rowform"></mmrp-cancel>
          <mmrp-trash remove="remove()"></mmrp-trash>
        </form>
      </td>
    </tr>
  </tbody>
  <tfoot class="">
    <tr>
      <td></td>
      <td><span editable-text="new.name" e-name="name" e-form="newform">{{new.name}}</span></td>
      <td>
        <mmrp-add form="newform"></mmrp-add>
        <form editable-form name="newform" ng-show="newform.$visible" onaftersave="add()">
          <mmrp-save form="newform"></mmrp-save>
          <mmrp-cancel form="newform"></mmrp-cancel>
        </form>
      </td>
    </tr>
  </tfoot>
</table>
<!--
<div class="error" ng-if="typeCtrl.errors">Controller Error: {{typeCtrl.errors}}</div>
-->
