<?php
    define('DB_HOST', 'localhost'); // database host
    define('DB_NAME', '');          // name of database
    // Database credentials
    define('DB_USER', '');          // username to access db
    define('DB_PASS', '');          // password to access db
?>
